footer#footer
  ul.icons
    li
      a(class='icon fa-vk', href='#')
        span.label VK
    li
      a(class='icon fa-facebook-square', href='#')
        span.label Facebook
    li
      a(class='icon fa-odnoklassniki-square', href='#')
        span.label Odnoklassniki
    li
      a(class='icon fa-instagram', href='#')
        span.label Instagram
    li
      a(class='icon fa-info-circle', href='#')
        span.label Info


  ul.copyright
    li
      i(class='fa fa-bullseye fa-lg')
      a(href='http://target.md') Target.md
      |  web development.
