<div id="morphsearch" class="morphsearch">
  <form class="morphsearch-form" action="get" id="site_search">
    <input class="morphsearch-input" id="search_box" type="search" placeholder="Cauta..."/>
    <button class="morphsearch-submit" type="submit" value="search">Search</button>
  </form>
  <span class="morphsearch-close"></span>
</div><!-- /morphsearch -->

<div class="overlay">
<ul id="search_results"></ul>
</div>
<script src="assets/js/classie.js"></script>
<script src="assets/js/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/search.js"></script>
<script>
(function() {
  var morphSearch = document.getElementById( 'morphsearch' ),
    input = morphSearch.querySelector( 'input.morphsearch-input' ),
    ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
    isOpen = isAnimating = false,
    // show/hide search area
    toggleSearch = function(evt) {
      // return if open and the input gets focused
      if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

      var offsets = morphsearch.getBoundingClientRect();
      if( isOpen ) {
        classie.remove( morphSearch, 'open' );

        // trick to hide input text once the search overlay closes
        // todo: hardcoded times, should be done after transition ends
        if( input.value !== '' ) {
          setTimeout(function() {
            classie.add( morphSearch, 'hideInput' );
            setTimeout(function() {
              classie.remove( morphSearch, 'hideInput' );
              input.value = '';
            }, 300 );
          }, 500);
        }

        input.blur();
      }
      else {
        classie.add( morphSearch, 'open' );
      }
      isOpen = !isOpen;
    };

  // events
  input.addEventListener( 'focus', toggleSearch );
  ctrlClose.addEventListener( 'click', toggleSearch );
  // esc key closes search overlay
  // keyboard navigation events
  document.addEventListener( 'keydown', function( ev ) {
    var keyCode = ev.keyCode || ev.which;
    if( keyCode === 27 && isOpen ) {
      toggleSearch(ev);
    }
  } );


  /***** for demo purposes only: don't allow to submit the form *****/
  // morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
})();
</script>
