@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Banner */
#banner {
  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  article {
    position: relative;
    width: 100%;
    outline: 0;
    .banner {
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      display: block;
      position: relative;
      border: 0;
      outline: 0;
      img {
        padding-top: 0.75em;
        display: block;
        width: 100%;
      }
    }
  }
}
